.sidebarContainer {
  width: 40vw;
  background: var(--neutral-bg);
  color: var(--text-light);
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color);
  z-index: 2000;
  transition: width 0.3s ease;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-medium);
  border-bottom: 1px solid var(--border-color);
}

.sidebarBody {
  padding: var(--spacing-medium);
  overflow-y: auto;
}