@import "./theme.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

:root{
  --primary-color: #007BFF;
  --primary-hover-color: #0056b3;
  --border-color: #E9ECEF;

  --font-family: 'Inter', sans-serif;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  --border: 2px solid black;
}

body{
  font-family: var(--font-family);
  background-color: var(--neutral-bg);
  color: var(--text-light);
}

html, body {
  overflow: hidden;
  height: 100%;
}