:root{
  --primary-color: #007BFF;
  --primary-hover-color: #0056b3;
  --neutral-bg: #F8F9FA;
  --border-color: #E9ECEF;
  --text-dark: #212529;
  --text-light: #6c757d;

  --font-family: 'Inter', sans-serif;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  --border-radius: 8px;
}

body{
  font-family: var(--font-family);
  background-color: var(--neutral-bg);
}